body {
    background-image: url("../img/hatterkep.jpg") !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
   }

.card {
    height: 300px;
    background-size:cover;
    }

nav{
    font-size: x-large;
    color: #2F1B12 !important;
}
.navbar-brand{
    font-size: xx-large;
}
footer, a{
    color: #2F1B12 !important;
    background-color: aliceblue;
    
}

p , h1{ 
    line-height: 150%; 
    color: white;
    
}

img{
    border: solid white 3px;
}

h2{
    line-height: 200%;
    color: white;
}
