body {
    background-image: url("../img/") !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
   }

.card {
    height: 300px;

    background-size:cover;
   }

nav{
    font-size: x-large;
    color: #2F1B12 !important;
}
.navbar-brand{
    font-size: xx-large;
}
footer, a{
    color: #2F1B12 !important;
}

p{
    font-weight: bold;
    line-height: 200%; 
}

img{
    border: solid gray 3px;
}